<li class="todo-item
    {% if type == 'done' %} done-item{% endif %}
    {% if type == 'overdue' %} overdue-item{% endif %}"
    data-id="{{ todo.id }}"
    data-title="{{ todo.title|escapejs }}"
    data-end="{{ todo.end_at|date:'Y-m-d\\TH:i' }}"
    data-type="{{ type }}"
>
  <input type="checkbox" 
         {% if type == 'done' %}checked{% endif %}
         onchange="toggleTodoComplete(this, {{ todo.id }})"
         onclick="event.stopPropagation()">
  <span onclick="openEditModalFromElement(this.parentElement)">{{ todo.title }}</span>
</li>
